.silumador {
    background: linear-gradient(to right, #fff, #e4e6e9);
    width: 100%;
    height: auto;
}

.simulador-novafinance {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;

    align-items: center;
    gap: 3rem;
}

.desc-simulador {
    width: 60%;
    display: flex;
    flex-direction: column;

    margin-top: 10%;
}
.desc-simulador h2 {
    font-size: 3rem;
    font-weight: 600;
}
.desc-simulador p {
    margin-top: 10px;
    font-size: 1.3rem;
    font-weight: 600;
    width: 400px;
}

.button-simulador {
    background: #004aad;
    padding: 20px 20px;
    border-radius: 20px;
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;

    width: 250px;
}


.img-silumador {
    margin-top: 5%;
    width: 50%;
}

span.azul {
    color: #004aad;
}

@media (max-width:600px) {
    .silumador {
        background: linear-gradient(to right, #fff, #e4e6e9);
        width: 100%;
        height: auto;
    }
    
    .simulador-novafinance {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
    }

    .desc-simulador {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 10%;
    }

    .desc-simulador h2 {
        font-size: 2.5rem;
        font-weight: 600;
        text-align: center;
    }
    .desc-simulador p {
        margin-top: 10px;
        font-size: 1.3rem;
        font-weight: 600;
        width: 100%;

        text-align: center;
    }

    .button-simulador {
        justify-content: center;
        text-align: center;
        margin: 0 auto;
        font-size: 1.2rem;
        font-weight: 600;
    }

    .img-silumador {
        display: none;
    }
}